<div class="container">
  <div class="row mb-3">
      <div class="col-4"></div>
      <div class="col-4  shadow border" >
          <div class="mb-3 mt-3">
              <input type="text" class="form-control" placeholder="Enter city" [(ngModel)]="country">
          </div>
          <div class="mb-2">
              <button class="btn btn-success form-control" (click)="getCountries()">find</button>
          </div>
          <div class="card" style="width:100% " *ngIf="result">
            <img src="{{result.flag}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
          {{result | json}}
          
          

      </div>
      <div class="col-4"></div>
  </div>
</div>