<div class="container">
    <div class="row mb-3">
        <div class="col-4"></div>
        <div class="col-4  shadow border" >
            <div class="mb-3 mt-3">
                <input type="text" class="form-control" placeholder="Enter city" [(ngModel)]="cityname">
            </div>
            <div class="mb-2">
                <button class="btn btn-success form-control" (click)="getWeatherDetail()">find</button>
            </div>
            <div class="card shadow border" style="width: 100%" *ngIf="result">
                <div class="card-header" >
                    {{result.name}}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"> Temperature:{{result.main.temp}}</li>
                    <li class="list-group-item"> Humidity:{{result.main.humidity}}</li>
                    <li class="list-group-item"> WindSpeed:{{result.wind.speed}}</li>
                    <li class="list-group-item"> Latitude:{{result.coord.lat}}</li>
                    <li class="list-group-item"> Longtitude:{{result.coord.lon}}</li>
                </ul>
            </div>

        </div>
        <div class="col-4"></div>
    </div>
</div>